.over {
  height: 100vh;
  width: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(50% 50% at 50% 50%, rgba(135, 176, 116, 0) 0%, #85c1ce 100%);
}
.title_over {
  margin: 70px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 84px;
  text-shadow: 4px 3px 2px #450047;
  color: #7230dd;
}
