.content_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  //   display: flex;
  //   justify-content: center;
  color: rgb(140, 20, 219);
  font-size: 48px;
}
.specification {
  margin: 30px;
}
