body {
  display: flex;
  margin: 0px;
}

.page_mix_letters {
  height: 100vh;
  width: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(50% 50% at 50% 50%, rgba(203, 143, 193, 0) 0%, #ee97e5 100%);
}

.title_mix_letters {
  margin: 70px 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 84px;
  text-shadow: 4px 3px 2px #450047;
  color: #ec88e2;
}

.text {
  width: 350px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #2f1160;
}
