.content {
  background-color: #87b074;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vmax;
}
.loading {
  height: 100vh;
  width: 100vmax;
  background-color: #87b074;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.timer_question {
  width: 800px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timer {
  width: 120px;
  height: 120px;
  color: #c9af73;
  text-align: center;
  font-size: 36px;
  background-color: #fff;
  border: 10px solid #c9af73;
  border-radius: 100px;
}
.question {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  max-width: 700px;
  text-align: center;
  width: 700px;
}
.all_answer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 800px;
  height: 350px;
  margin: 20px;
}
.button_answer {
  width: 360px;
  height: 130px;
  background-color: #fafcfb;
  border-radius: 15px;
  color: #87b074;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  border: 12px solid #c9af73;
  &:hover {
    color: rgb(227, 238, 245);
    background-color: #cef0be;
  }
  &:active {
    color: rgb(50, 154, 219);
    background-color: #87e9e1;
  }
}
.block_error_answer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 99999999;
  color: rgb(184, 19, 19);
  margin: 0;
}
.exit {
  margin: 50px;
}
